
$font-title: 'Bubbler One', sans-serif;
$font-head: 'Playfair Display', serif;
$font-main: 'Karla', sans-serif;

//dark purple
$font-color-main: #190842;
//light pink
$font-color-pink: #ffc3bc;
//white
$font-color-logo: white;
//light grey
$font-color-links: #666666;
//lighter purple
$font-color-dates:#6b6485;
