
$font-title:  'Headland One', serif;
$font-head: 'Bad Script', cursive;
$font-main: 'Catamaran', sans-serif;

//dark purple
$font-color-main: #190842;
//light purple grey
$font-color-pink: #ededf0;
//black
$font-color-black: black;
//white
$font-color-logo: white;
$font-color-white: white;
//light grey
$font-color-links: #666666;

//lighter purple
$font-color-dates:#6b6485;

//Footer color
$footer-color: black;

//Image List
$post-number: 4;

//Post background black opacity
$post-black-opacity: rgba(0, 0, 0, 0.4);

//Post text center
$post-text: center;

//media Queries
