
$font-title: 'Bubbler One', sans-serif;
$font-head: 'Playfair Display', serif;
$font-main: 'Karla', sans-serif;

//dark purple
$font-color-main: #190842;
//light pink
$font-color-pink: #ffc3bc;
//white
$font-color-logo: white;
$font-color-white: white;
//light grey
$font-color-links: #666666;
//lighter purple
$font-color-dates:#6b6485;

//Image List
$post-number: 4;

//Post background black opacity
$post-black-opacity: rgba(0, 0, 0, 0.4);

//Post text center
$post-text: center;

//media Queries
