footer {
  background-color: $font-color-dates;
  @include size(100% 100px);
  text-align: center;
  margin-top: 50px;
  a {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: $font-color-pink;
  }
}
