.recentPosts {
  @include outer-container;
  @include padding(50px null 10px null);
  margin:0;
  max-width: 100%;
  h1{
    text-align: $post-text;
  }
}
.allPosts{
  @include clearfix();
    @include span-columns(12);
  width: 100%;
}
.post{
  @for $i from 1 through $post-number {
    &:nth-child(#{$i}) {
  background-image:url(../img/#{$i}.jpg);
  @extend %background;
  }
  @include size(100% 450px);
  @include position(relative, null null null null);
  }
  .post-content{
    @include position(absolute, null null 10px null);
    color: $font-color-white;
    text-align: $post-text;
    background-color: $post-black-opacity;
    @include margin(25px 0 0 0);
    a{
      text-decoration: none;
      color: $font-color-white;
    }
  }
@media(min-width: 600px){
  @include span-columns(6 of 12);
  @include omega(n);
  }
@media(min-width: 1000px){
  @include span-columns(3);
  @include omega();
  }
}
